.info{
    margin-top: 20vh;
    /* background-image: url('../assets/buenosaires.jpg'); */
    background-color: rgba(0, 0, 0, 0.514);
    
    /* background-size: cover; */
    color: white;
    flex-direction: column;
    
}

.cities h1{
    color: rgb(255, 255, 255);
}
.citie{

    margin-top: 20vh;
}
.list-group{
    display: flex;
    flex-direction: row;
}
