@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rye&family=Tapestry&display=swap');
.carousel{
    display: flex;
    justify-content: center;
}

.carousel-caption h5{
    /* background-color: rgba(255, 255, 255, 0.5); */
    font-size: 2em !important;
    text-shadow: 0 0 9px white;
    font-weight: 500;
    color: #000000;
}
.carousel-caption p{
    font-size: 1em;
    text-shadow: 0 0 9px rgb(0, 0, 0);
    font-weight: 500;
    color: #ffffff;
}
.medio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;    
    align-content: center;
    padding: 3em;
    box-shadow: #000000 0 0 10px;
    background-color: #00000037;
}
@media (max-width: 700px) { 
    .medio{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
 }
 @media (max-width: 700px) { 
    .imagen-medio{
        width: 100% !important;
    }
 }


.imagen-medio{
    width: 50%;
   
}
.imagen-medio img{
    width: 100%;
    
}

.titulo-medio{
    width: 50%;
    padding: 1em;
}
.titulo-medio h1, h4{
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;   
    color: rgb(247, 247, 247);
    text-shadow: 4px 4px 6px black;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rye', cursive;
    font-family: 'Tapestry', cursive;
}

