.cities{
    background-image: url('../assets/citie.jpg');
    background-size: cover;
    border-bottom: black 2px solid;
  box-shadow: black 0px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 45vw;
}
  


.most h2{
    color: white;
    text-shadow: black 0px 0px 10px;
    align-items: center;
    text-align: center;
    padding-top: 1em;
    font-size: 3em;
    
}
/* SWITCH */
.checkbox {
  position: absolute;
  left: -5000px;
}
.checkbox-label {
  display: block;
  background: #4d4c4c;
  height: 50px;
  width: 80px;
  border-radius: 50px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 0 0 2px #dddddd;
  font-size: 1.5em;
}




/* *, *:before, *:after {
  transition: 0.25s ease-in-out;
} */
.checkbox-label:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background: white;
  box-shadow: 0 3px 3px rgb(0 0 0 / 20%), 0 0 0 2px #dddddd;
}
.checkbox-label .on {
  display: block;
  position: absolute;
  z-index: 0;
  left: 0;
  opacity: 1;
  line-height: 50px;
  opacity: 0;
  color: #13bf11;
  text-shadow: black 0 0 10px;
  font-weight: 700;
}
.checkbox:checked + .checkbox-label:before {
  left: 30px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 20%), 0 0 0 2px #13bf11;
}
.checkbox-label .off {
  display: block;
  position: absolute;
  z-index: 0;
  right: 100px;
  text-align: right;
  opacity: 1;
 
  line-height: 50px;
  opacity: 1;
  color: #ffffff;
  text-shadow: black 0 0 10px;
  font-weight: 700;
}

.checkbox:checked + .checkbox-label .on {
  left: 85px;
  opacity: 1;
}


.checkbox:checked + .checkbox-label .off {
  right: 0px;
  opacity: 0;
}
.checkbox:checked + .checkbox-label {
  background: #267224;
  box-shadow: 0 0 0 2px #13bf11;
}


